[Unit]
Description=NDC ODF Web WebSocket Daemon
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/ndcodfweb
ExecStart=/usr/bin/ndcodfweb
KillSignal=SIGINT
TimeoutStopSec=120
User=lool
KillMode=control-group
Restart=always
LimitNOFILE=infinity:infinity

ProtectSystem=strict
ReadWritePaths=/opt/ndcodfweb

ProtectHome=yes
PrivateTmp=yes
ProtectControlGroups=yes
CapabilityBoundingSet=CAP_FOWNER CAP_MKNOD CAP_SYS_CHROOT

[Install]
WantedBy=multi-user.target
