Source: modaodfweb
Section: web
Priority: optional
Maintainer: Firefly <firefly@ossii.com.tw>
Build-Depends: debhelper (>= 9.20160709), libcap-dev, libcap2-bin, libpcre3-dev, libpng-dev, linux-libc-dev, nodejs, python3-polib, python3-lxml, fontconfig, libpam-dev, libcppunit-dev, pkg-config, devscripts, m4, libpoco-dev, libgit2-dev
Standards-Version: 3.9.7

Package: modaodfweb
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 adduser, fontconfig, cpio, libcap2-bin, openssh-client, systemd,
 modaodfsyslib-calc,
 modaodfsyslib-core,
 modaodfsyslib-graphicfilter,
 modaodfsyslib-images,
 modaodfsyslib-impress,
 modaodfsyslib-ooofonts,
 modaodfsyslib-writer,
 modaodfsys,
 modaodfsys-ure,
 modaodfsyslib-en-us,
 modaodfsyslib-draw,
 modaodfsyslib-extension-pdf-import,
 modaodfsyslib-ooolinguistic,
 modaodfsyslib-math
Replaces: modaodfweb-modules
Breaks: modaodfweb-modules
Description: OxOffice Online WebSocket Daemon
 OXOOLWSD is a daemon that talks to web browser clients and provides OxOffice
 services.
 
Package: modaodfweb-dev
Architecture: any
Multi-Arch: same
Depends: modaodfweb, libpoco-dev, libgit2-dev
Description: Files for build OxOffice Online Editor.
